.portfolio {
	width: 50%;
	margin: 0 auto
}

img {
	width: 20%;
	/*max-width: 300px;*/
	/*float: left;*/
	margin: 4%;
}

p {
	font-family: 'Tenor Sans', sans-serif;
	font-size: 38px;
	text-transform: uppercase;
	border-bottom: 1px solid black;
	margin-left: 1.66%;
}
