.portfolio {
	width: 60%;
	margin: 0 auto;

}

img {
	width: 20%;
	/*min-width: 250px;*/
	max-width: 300px;
	/*float: left;*/
	margin: 2em;
}

p {
	font-family: 'Tenor Sans', sans-serif;
	font-size: 38px;
	text-transform: uppercase;
	border-bottom: 1px solid black;
	margin-left: 1.66%;
}
